@import url("https://use.typekit.net/cpw6jin.css");

:root {
  --shadow-color: 0deg 0% 0%;
  --shadow-elevation-medium: 0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.31),
    1.3px 2.7px 2.9px -1.8px hsl(var(--shadow-color) / 0.25),
    6.3px 12.5px 13.5px -3.5px hsl(var(--shadow-color) / 0.19);

  --primary: #225CE3;
  --neutral-100: #ffefca;

  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: adobe-garamond-pro, serif; 
  background-color: var(--neutral-100);

  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

