h1 {
  font-weight: 400;
  font-size: 14rem;
  text-align: right;
  margin-right: 2rem;
}

.text-container {
  gap: 0.5rem;
  display: flex;
  align-items: center;

  position: absolute;
  right: 5%;
  top: 65%;
}

.qrcode {
  width: 120px;
  height: 120px;
  object-fit: cover;
}
p {
  width: 30ch;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  text-justify: inter-word;
}
